django
django-rest-framework
black
mypy
isort
django-cpf-cnpj
django-phonenumber-field[phonenumbers]
django-environ
django-rest-knox
drf-spectacular
Pillow
psycopg2-binary==2.9.6
google-cloud-secret-manager==2.16.1
